# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-core
azure-search-documents
azure-storage-blob
azure-ai-formrecognizer
azure-cosmos
openai
langchain
langchain_community
azure-ai-documentintelligence